<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <title>User Map</title>
  <link rel="shortcut icon" href="/users/static/img/favicon.ico"/>
  <link rel="stylesheet" href="/users/static/css/bootstrap.css"
        type="text/css" static="screen, projection"/>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css"/>
  <!--[if lte IE 8]>
         <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
     <![endif]-->
  <link rel="stylesheet" href="/users/static/css/user-map.css"
        type="text/css" static="screen, projection"/>
  <script language="javascript"
          type="text/javascript" src="/users/static/js/jquery.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
  <script language="javascript"
          type="text/javascript" src="/users/static/js/user-map.js"></script>

</head>
<body>
<div id="map"></div>
<script type="text/javascript">
  $(document).ready(function () {
    var map = L.map('map');
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '© <a href="http://www.openstreetmap.org" target="_parent">OpenStreetMap</a> and contributors, under an <a href="http://www.openstreetmap.org/copyright" target="_parent">open license</a>',
      maxZoom: 18
    }).addTo(map);
    map.locate({setView: true, maxZoom: 16});
    map.on('locationfound', onLocationFound);
    map.on('click', onMapClick);
    $.ajax({
      type: "GET",
      url: "/users.json",
      dataType: 'json',
      success: function (response) {
        geojsonLayer = L.geoJson(response).addTo(map);
      }
    });
  });

  function onMapClick(e) {
    alert("You clicked the map at " + e.latlng);
  }



  function onLocationFound(e) {
    var radius = e.accuracy / 2;
    L.marker(e.latlng).addTo(map)
        .bindPopup("You are within " + radius + " meters from this point").openPopup();
    L.circle(e.latlng, radius).addTo(map);
  }


  function downloadShape() {
    var url = '/buildings-shp?bbox=' + map.getBounds().toBBoxString();
    console.log('New url: ' + url + ' <--');
    window.location.replace(url);
  }

</script>
</body>
