<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <title>User Map</title>
  <link rel="shortcut icon" href="/users/static/img/favicon.ico"/>
  <link rel="stylesheet" href="/users/static/css/bootstrap.css"
        type="text/css" static="screen, projection"/>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css"/>
  <link rel="stylesheet" href="/users/static/css/leaflet.label.css"/>
  <!--[if lte IE 8]>
           <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
       <![endif]-->
  <link rel="stylesheet" href="/users/static/css/user-map.css"
        type="text/css" static="screen, projection"/>
  <script language="javascript"
          type="text/javascript" src="/users/static/js/jquery.js"></script>
  <script language="javascript"
          type="text/javascript" src="/users/static/js/bootstrap.min.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
  <script src="/users/static/js/leaflet.label.js"></script>
  <script language="javascript"
          type="text/javascript" src="/users/static/js/user-map.js"></script>

</head>
<body>
<!-- Modal for feedback to user added succesfully -->
<div class="modal fade" id="add-success-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Information</h3>
      </div>
      <div class="modal-body">
        <p>
          Thank you for adding yourself to our database!
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Data Privacy Section -->
<div class="modal fade" id="data-privacy-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Data Privacy</h3>
      </div>
      <div class="modal-body">
        <p>
          The data you enter on this site may be visible to others. We suggest
          that
          you approximate your physical location to the nearest town or major
          center. Parts of your data will be made available for others to
          download
          and use. We will <strong>not</strong> share:</br>
        <ul>
          <li>your email address</li>
          <li>your unique identifier used to edit your record</li>
        </ul>
        If you would like your data removed from this site, please refer to the
        confirmation email we sent you when you added yourself for instructions.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">
          Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="map"></div>

<script type="text/javascript">
  var map, base_map, marker_new_user, overlays_layer, users_layer,
      trainers_layer, developers_layer, mode, data_privacy_control,
      user_menu_control, IconMarker, user_icon, trainer_icon, developer_icon,
      estimated_location_circle;
  mode = 0 // Set Default mode
  initializeIcons();

  $(document).ready(function () {
    //Initialize Basemap Layer
    initializeBaseMap();

    //User Layer
    users_layer = new L.LayerGroup();
    trainers_layer = new L.LayerGroup();
    developers_layer = new L.LayerGroup();
    addUsers(users_layer, 0);
    addUsers(trainers_layer, 1);
    addUsers(developers_layer, 2);

    //Create Map with prepared layers
    map = L.map('map', {
      layers: [base_map, users_layer, developers_layer, trainers_layer]
    });
    map.fitWorld().zoomIn();

    //Add Controls:
    initializeControls();
    map.addControl(new data_privacy_control());
    map.addControl(new user_menu_control);
    $(".user-menu-control").tooltip({placement: 'right', container:'body'});

    //Spesify all layers on overlays_layers
    overlays_layer = {
      "Users": users_layer,
      "Developers": developers_layer,
      "Trainers": trainers_layer
    }
    L.control.layers(null, overlays_layer).addTo(map)
  })
</script>
</body>
</html>
