{% extends "base.html" %}
{% block title %} Edit User {% endblock %}

{% block js_container %}
  <script type="text/javascript">
    var DEFAULT_MODE = 0;
    var DOWNLOAD_MODE = 2;
    var EDIT_USER_MODE = 3;
    var USER_ROLE = 0;
    var TRAINER_ROLE = 1;
    var DEVELOPER_ROLE = 2;

    var map, base_map, users_layer, data_privacy_control, user_menu_control,
        IconMarker, user_icon, trainer_icon, developer_icon,
        estimated_location_circle;
    var current_mode = EDIT_USER_MODE;

    $(document).ready(function () {
      //Initialize Basemap Layer
      initializeBaseMap();
      // Initialize Icon for marker
      initializeIcons();
      //Add Edited User Layer
      edited_user_layer = new L.LayerGroup();
      var user = {'name': '{{ user.name }}', 'email': '{{ user.email }}', 'website': '{{ user.website }}', 'role': {{ user.role }}, 'latitude':{{ user.latitude }}, 'longitude': {{ user.longitude }}}
      addEditedUser(user , edited_user_layer);

      //Create Map with prepared layers
      map = L.map('map', {
        layers: [base_map, edited_user_layer]
      });
      map.fitWorld().zoomIn();

      //Add Controls:
      initializeDataPrivacyControl();
      initializeUserMenuControl({"edit-user-menu": true, "delete-user-menu":true, "download-menu":true});
      map.addControl(new data_privacy_control());
      map.addControl(new user_menu_control);
      $(".user-menu-control").tooltip({placement: 'right', container:'body'});
    })
  </script>

{% endblock %} <!--endblock of js_container -->
