{% extends "base.html" %}
{% block title %} Edit User {% endblock %}

{% block js_container %}
  <script type="text/javascript">
    var edited_user_layer;
    current_mode = EDIT_USER_MODE;

    $(document).ready(function () {
      //Add Edited User Layer
      edited_user_layer = new L.LayerGroup();
      var user = {'name': '{{ user.name }}', 'email': '{{ user.email }}', 'website': '{{ user.website }}', 'role': {{ user.role }}, 'latitude':{{ user.latitude }}, 'longitude': {{ user.longitude }}}
      addEditedUser(user , edited_user_layer);

      //Create Map with prepared layers
      map = L.map('map', {
        layers: [base_map, edited_user_layer]
      });
      map.fitWorld().zoomIn();

      //Add Controls:
      data_privacy_control = initializeDataPrivacyControl();
      user_menu_control = initializeUserMenuControl({"edit-user-menu": true, "delete-user-menu":true, "download-menu":true});
      map.addControl(new data_privacy_control());
      map.addControl(new user_menu_control);
      $(".user-menu-control").tooltip({placement: 'right', container:'body'});
    })
  </script>

{% endblock %} <!--endblock of js_container -->
