{% extends "base.html" %}
{% block body %}
  {{ super() }}
  <!-- Modal for reminder form -->
  <div class="modal fade" id="reminder-menu-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title">Request Edit Link</h3>
        </div>
        <div class="modal-body">
          <p>
            Please enter your email address that you used for registration
            before. We will resend the edit link to that email.
          </p>
          <form action ="" class="form form-horizontal" id="email_reminder_form" enctype="multipart/form-data">
            <div class="form-group">
              <div class="input-group input-group-sm  col-lg-8">
                <span class="input-group-addon">Email</span>
                <input type="email" class="form-control"
                       placeholder="Required"  id="email_reminder"
                       name="email_reminder" required value=""/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-8">
                <button type="button" class="btn btn-primary"
                        onclick="sendReminder();">Send!</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" onclick="activateDefaultState()"
                  data-dismiss="modal" aria-hidden="true">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js_container %}
  <script type="text/javascript">
    var marker_new_user, overlays_layer, users_layer,
        trainers_layer, developers_layer;
    current_mode = DEFAULT_MODE;

    $(document).ready(function () {
      //User Layer
      users_layer = new L.LayerGroup();
      trainers_layer = new L.LayerGroup();
      developers_layer = new L.LayerGroup();
      addUsers(users_layer, USER_ROLE);
      addUsers(trainers_layer, TRAINER_ROLE);
      addUsers(developers_layer, DEVELOPER_ROLE);

      //Create Map with prepared layers
      map = L.map('map', {
        layers: [base_map, users_layer, developers_layer, trainers_layer]
      });
      map.fitWorld().zoomIn();

      //Add All Controls:
      data_privacy_control = initializeDataPrivacyControl();
      user_menu_control = initializeUserMenuControl({"add-user-menu": true, "download-menu": true, "reminder-menu": true });
      map.addControl(new data_privacy_control);
      map.addControl(new user_menu_control);
      $(".user-menu-control").tooltip({placement: 'right', container: 'body'});

      //Specify all layers on overlays_layers control
      overlays_layer = {
        "Users": users_layer,
        "Developers": developers_layer,
        "Trainers": trainers_layer
      }
      L.control.layers(null, overlays_layer).addTo(map)
    })
  </script>
{% endblock %} <!--endblock of js_container -->
