<div class="user_form_content" style="display: none;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">User Data</h3>
    </div>
    <div class="panel-body">
      <form action="" role="form-horizontal" id="add_user" enctype="multipart/form-data">
        <div class="form-group">
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Name</span>
            <input type="text" class="form-control" placeholder="Required"
                   id="name" name="name" required value="{{ user.name }}"/>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Email</span>
            <input type="email" class="form-control" placeholder="Required"
                   id="email" name="email" required
                   value="{% if user.mode == "ADD" %}{{ user.email }}{% endif %}"
                {% if user.mode == "EDIT" %} readonly {% endif %}/>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group input-group-sm">
            <span class="input-group-addon">Website</span>
            <input type="url" class="form-control"
                   placeholder="If filled, use http:// or https://."
                   id="website" name="website" pattern="https?://.+"
                   value="{% if user.mode == "EDIT" %}{{ user.website }}{% endif %}"/>
          </div>
        </div>

        <div class="form-group">
          <label for="label-role">Role</label>

          <div class="input-group input-group-sm">
          <span class="input-group-addon">
            <input type="radio" name="role" value="0"
                {% if user.mode == "ADD" or user.role == 0 %} checked
                {% endif %}/>
          </span>
            <span class="form-control"><small>User</small></span>
          <span class="input-group-addon">
          <input type="radio" name="role" value="1"
              {% if user.mode == "EDIT" and user.role == 1 %} checked
              {% endif %}/>
          </span>
            <span class="form-control"><small>Trainer</small></span>
          <span class="input-group-addon">
          <input type="radio" name="role" value="2"
              {% if user.mode == "EDIT" and user.role == 2 %} checked
              {% endif %}/>
          </span>
            <span class="form-control"><small>Developer</small></span>
          </div>
        </div>

        <div class="form-group">
          <label for="label-email-updates">Email Updates</label>

          <div class="input-group input-group-sm">
          <span class="input-group-addon">
          <input type="checkbox" id="email_updates" name="email_updates" value="Yes"
              {% if user.mode == "EDIT" and user.email_updates %} checked
              {% endif %}/>
          </span>
            <span class="form-control">Receive project news and updates</span>
          </div>
        </div>

        <div class="form-group">
          <input style="display: none;" type="text" id="lat" name="lat"
                 value="{{ user.latitude }}"/>
          <input style="display: none;" type="text" id="lng" name="lng"
                 value="{{ user.longitude }}"/>
        </div>

        <div class="form-group">
          <div>

            <button type="button" class="btn btn-primary"
                        {% if user.mode == "ADD" %}
                          onclick = "addUser();"
                        {% else %}
                          onclick = "editUser();"
                        {% endif %}>
              Done!
            </button>
            <button type="button" class="btn btn-default"
                        {% if user.mode == "ADD" %}
                          onclick="cancelMarker();"
                        {% else %}
                          onclick="cancelEditUser();"
                        {% endif %}>
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
