<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <title>{% block title %}User Map{% endblock %}</title>
  <link rel="shortcut icon" href="/users/static/img/favicon.ico"/>
  <link rel="stylesheet" href="/users/static/css/bootstrap.css"
        type="text/css" static="screen, projection"/>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css"/>
  <link rel="stylesheet" href="/users/static/css/leaflet.label.css"/>
  <!--[if lte IE 8]>
           <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
       <![endif]-->
  <link rel="stylesheet" href="/users/static/css/user-map.css"
        type="text/css" static="screen, projection"/>
  <script language="javascript"
          type="text/javascript" src="/users/static/js/jquery.js"></script>
  <script language="javascript"
          type="text/javascript" src="/users/static/js/bootstrap.min.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
  <script src="/users/static/js/leaflet.label.js"></script>
  <script language="javascript"
          type="text/javascript" src="/users/static/js/user-map.js"></script>
<script language="javascript"
          type="text/javascript" src="/users/static/js/user-map-component.js"></script>
<script language="javascript"
          type="text/javascript" src="/users/static/js/user-map-state.js"></script>
<script language="javascript"
          type="text/javascript" src="/users/static/js/user-map-utilities.js"></script>
  <script language="javascript"
          type="text/javascript" src="/users/static/js/validate.js"></script>

</head>
<body>

{% block body %}
{% endblock %} <!--endblock of body -->

<!-- Map block -->
<div id="map">
</div>
<!--endblock of map -->

<!-- All the templates should go here -->
{{ information_modal | safe }}
{{ data_privacy_content | safe }}
{{ user_form_template | safe }}
<!-- endblock of all the template -->

<script type="text/javascript">
    var DEFAULT_MODE = 0;
    var ADD_USER_MODE = 1;
    var EDIT_USER_MODE = 2;
    var DELETE_USER_MODE = 3;
    var DOWNLOAD_MODE = 4;
    var REMINDER_MODE = 5;

    var USER_ROLE = 0;
    var TRAINER_ROLE = 1;
    var DEVELOPER_ROLE = 2;

    var map, base_map, data_privacy_content, data_privacy_control,
        user_menu_control, user_icon, trainer_icon, developer_icon,
        estimated_location_circle, current_mode;

  //Initialize Basemap Layer
  base_map = createBasemap();

  //Create Map with prepared base_map
  map = L.map('map', {
    layers: [base_map]
  });
  map.fitWorld().zoomIn();

  // Initialize all icons for marker
  var icons = createAllIcons();
  user_icon = icons.user_icon;
  trainer_icon = icons.trainer_icon;
  developer_icon = icons.developer_icon;

  // Create Data Privacy Control
  data_privacy_control = createDataPrivacyControl();
  map.addControl(new data_privacy_control);
</script>

{% block js_container %}
{% endblock %} <!--endblock of js_container -->
</body>
</html>
