<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <title>{% block title %}User Map{% endblock %}</title>
  {% block head_resources %}
    <link rel="shortcut icon" href="/users/static/img/favicon.ico"/>
    <link rel="stylesheet" href="/users/static/css/bootstrap.css"
          type="text/css" static="screen, projection"/>
    <link rel="stylesheet" href="/users/static/css/leaflet.css"/>
    <!--[if lte IE 8]>
             <link rel="stylesheet" href="/users/static/css/leaflet.ie.css" />
         <![endif]-->
    <link rel="stylesheet" href="/users/static/css/leaflet.label.css"/>
    <link rel="stylesheet" href="/users/static/css/user-map.css"
          type="text/css"/>
    <script language="javascript"
            type="text/javascript" src="/users/static/js/jquery.js"></script>
    <script language="javascript"
            type="text/javascript" src="/users/static/js/bootstrap.min.js"></script>
    <script src="/users/static/js/leaflet.js"></script>
    <script src="/users/static/js/leaflet.label.js"></script>
    <script language="javascript"
            type="text/javascript" src="/users/static/js/user-map.js"></script>
    <script language="javascript"
            type="text/javascript" src="/users/static/js/user-map-component.js"></script>
    <script language="javascript"
            type="text/javascript" src="/users/static/js/user-map-state.js"></script>
    <script language="javascript"
            type="text/javascript" src="/users/static/js/user-map-utilities.js"></script>
    <script language="javascript"
            type="text/javascript" src="/users/static/js/validate.js"></script>
    {% endblock head_resources %}
</head>
<body>

{% block body %}
{% endblock %} <!--endblock of body -->

<!-- Map block -->
<div id="map">
</div>
<!--endblock of map -->

<!-- All the templates should go here -->
{{ user_menu_button | safe }}
{{ information_modal | safe }}
{{ data_privacy_content | safe }}
{{ user_form_template | safe }}
<!-- endblock of all the template -->

<script type="text/javascript">
  var map, base_map, data_privacy_content, data_privacy_control,
      user_menu_control, user_icon, trainer_icon, developer_icon,
      estimated_location_circle, current_mode;

  // Set current_mode to default one
  current_mode = DEFAULT_MODE;

  //Initialize Basemap Layer
  base_map = createBasemap();

  //Create Map with prepared base_map
  map = L.map('map', {
    layers: [base_map]
  });
  map.fitWorld().zoomIn();

  // Initialize all icons for marker
  var icons = createAllIcons();
  user_icon = icons.user_icon;
  trainer_icon = icons.trainer_icon;
  developer_icon = icons.developer_icon;

  // Create Data Privacy Control
  data_privacy_control = createDataPrivacyControl();
  map.addControl(new data_privacy_control);

  // Create User Menu Control and add some tooltips
  user_menu = {
    "add-user-menu": '{{ user_menu.add_user }}' === 'True',
    "edit-user-menu": '{{ user_menu.edit_user }}' === 'True',
    "delete-user-menu": '{{ user_menu.delete_user }}' === 'True',
    "download-menu": '{{ user_menu.download }}' === 'True',
    "reminder-menu": '{{ user_menu.reminder }}' === 'True'
  };
  user_menu_control = createUserMenuControl(user_menu);
  map.addControl(new user_menu_control);
  $(".user-menu-control").tooltip({placement: 'right',
    container: 'body'});
</script>

{% block js_container %}
{% endblock %} <!--endblock of js_container -->
</body>
</html>
