<script id="event_form_content" type="text/template">
  <form action="" class="form-horizontal" id="add_event"
      enctype="multipart/form-data">

    <div class="form-group">
      <label for="name" class="col-lg-3 control-label">Name of the
      event</label>
        <div class="col-lg-8">
          <input type="text" class="form-control" placeholder="Required"
              id="name" name="name" required value=""/>
        </div>
    </div>

    <div class="form-group">
      <label for="type" class="col-lg-3 control-label">Type of the event</label>
      <div class="col-lg-8">
        <select class="form-control">
          <option>Presentation</option>
          <option>Training</option>
          <option>Workshop</option>
          <option>Booth</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="organizer" class="col-lg-3 control-label">Organizer</label>
      <div class="col-lg-8">
        <input type="text" class="form-control" placeholder="Required"
               id="organizer" name="organizer" required value=""/>
      </div>
    </div>

    <div class="form-group">
      <label for="presenter" class="col-lg-3 control-label">Presenter</label>
      <div class="col-lg-8">
        <input type="text" class="form-control" placeholder="Required"
               id="presenter" name="presenter" required value=""/>
       </div>
    </div>

    <div class="form-group">
      <label for="contact-email" class="col-lg-3 control-label">Contact Email</label>
      <div class="col-lg-8">
        <input type="email" class="form-control" placeholder="Required"
               id="contact-email" name="contact-email" value="" required />
      </div>
    </div>

    <div class="form-group">
      <label for="date" class="col-lg-3 control-label">Date</label>
      <div class="col-lg-8">
        <input type="text" class="form-control date-picker"
          placeholder="Required" id="date" name="date" value="" required />
      </div>
    </div>

    <div class="form-group">
      <label for="number-participant" class="col-lg-3 control-label">Number of
      Participant</label>
      <div class="col-lg-8">
        <input type="number" class="form-control" placeholder="Required"
               id="number-participant" name="number-participant" value="" required />
      </div>
    </div>

    <div class="form-group">
      <label for="type" class="col-lg-3 control-label">Description</label>
      <div class="col-lg-8">
        <textarea class="form-control" rows="3"></textarea>
      </div>
    </div>

    <div class="form-group">
      <input style="display: none;" type="text" id="lat" name="lat"
             value=""/>
      <input style="display: none;" type="text" id="lng" name="lng"
             value=""/>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-8">
        <button type="button" id="submit_form" class="btn btn-primary">
          Done!
        </button>
        <button type="button" id="cancel_form" class="btn btn-default"
        aria-hidden="true" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </form>
</script>
