<script id="event_form_content" type="text/template">
  <form action="" class="form-horizontal" id="add_event"
      enctype="multipart/form-data">

    <div class="form-group">
      <label for="event-name" class="col-lg-3 control-label">Name of the
      event</label>
        <div class="col-lg-8">
          <input type="text" class="form-control" placeholder="Required"
              id="event-name" name="event-name" required value=""/>
        </div>
    </div>

    <div class="form-group">
      <label for="type" class="col-lg-3 control-label">Type of the event</label>
      <div class="col-lg-8">
        <select name="event-type" class="form-control">
          <option value="0">Presentation</option>
          <option value="1">Training</option>
          <option value="2">Workshop</option>
          <option value="3">Booth</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="event-organizer" class="col-lg-3 control-label">Organizer</label>
      <div class="col-lg-8">
        <input type="text" class="form-control" placeholder="Required"
               id="event-organizer" name="event-organizer" required value=""/>
      </div>
    </div>

    <div class="form-group">
      <label for="event-presenter" class="col-lg-3 control-label">Presenter</label>
      <div class="col-lg-8">
        <input type="text" class="form-control" placeholder="Required"
               id="event-presenter" name="event-presenter" required value=""/>
       </div>
    </div>

    <div class="form-group">
      <label for="event-contact-email" class="col-lg-3 control-label">Contact
      Email</label>
      <div class="col-lg-8">
        <input type="email" class="form-control" placeholder="Required"
               id="event-contact-email" name="event-contact-email" value="" required />
      </div>
    </div>

    <div class="form-group">
      <label for="event-date" class="col-lg-3 control-label">Date</label>
      <div class="col-lg-8">
        <input type="text" class="form-control date-picker"
          placeholder="Required" id="event-date" name="event-date" value=""
          required />
      </div>
    </div>

    <div class="form-group">
      <label for="event-number-participant" class="col-lg-3 control-label">Number of Participant</label>
      <div class="col-lg-8">
        <input type="number" class="form-control" placeholder="Required"
               id="event-number-participant" name="event-number-participant"
               value="100" required />
      </div>
    </div>

    <div class="form-group">
      <label for="event-description" class="col-lg-3 control-label">Description</label>
      <div class="col-lg-8">
        <textarea id="event-description" class="form-control" rows="3"></textarea>
      </div>
    </div>

    <div class="form-group">
      <input style="display: none;" type="text" id="event-latitude"
             name="event-latitude" value=""/>
      <input style="display: none;" type="text" id="event-longitude"
             name="event-longitude" value=""/>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-8">
        <button type="button" id="submit_form" class="btn btn-primary">
          Done!
        </button>
        <button type="button" id="cancel_form" class="btn btn-default"
        aria-hidden="true" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </form>
</script>
